* {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;

}

body {
    ;
}

.h1 {
    padding-left: 344px;
    padding-right: 344px;
    padding-top: 177px;
    padding-bottom: 177px;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}

.New {
    color: #FFF;

    text-align: center;
    font-size: 32px;
    font-weight: 400;
}

.Year {

    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;




}

header {
    background-image: url("../resources/Banner\ Image.png");

    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    margin-top: 30px;
    margin-left: 120px;
}

.interest {
    padding-top: 120px;
}

.off {
    color: #F00;

    text-align: center;

    font-size: 88px;

    font-weight: 700;

}

.holy {
    color: #F00;

    text-align: center;

    font-size: 24px;

    font-weight: 500;
    border-top: 88px;
}

.cate {
    color: #070211;
    text-align: center;

    font-size: 48px;
    font-weight: 700;

}

.image {
    justify-content: center;

    display: flex;
    margin-bottom: 120px;
}

.join {
    background-image: url("../resources/Vectorrr.png");
    background-repeat: no-repeat;
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 20px width: 1320px;
    height: 600px;



}

.mid {
    color: #FFF;

    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    width: 642px;
    margin-bottom: 24px;
    padding-top: 126px;
    padding-left: 126px;

}

.para {
    margin-top: -180px;
    padding-left: 120px;

    color: rgba(255, 255, 255, 0.80);

    font-size: 18px;

    font-weight: 400;
    line-height: 30px;

    color: #FFF;
    width: 697px;
}

.btn {
    color: floralwhite font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    border: 0px;
}

.group70 {
    display: flex;
    ;
    justify-content: center;

}

.group71 {
    padding-top: 67px;


    display: flex;
    width: 319.83px;
    height: 464.662px;

    align-items: center;




}


.red {

    color: #F00;
}

.place {
    text-align: center;

    font-size: 32px;

    font-weight: 600;



    padding-top: 100px;
}







.btn1 {
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    text-align: center;

    font-size: 20px;

    font-weight: 700;

    text-transform: uppercase;
    border: none;

    margin-bottom: -10px;
}

.date {


    margin-top: 120px;
    margin-left: 140px;
    margin-right: 140px;



    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);

    width: 1320px;
    height: 482px;
}

.smallb {
    font-weight: 500;
    line-height: normal;
    font-size: 24px;
    color: #F00;
}

.soon {
    color: #070211;


    font-size: 48px;
    text-transform: capitalize;
}

.dolor {
    color: rgba(7, 2, 17, 0.60);

    font-size: 20px;

    font-weight: 400;
    width: 364.844px;
    height: 364.844px;
}

.ellipse1 {
    border-radius: 463px;
    border: 15px solid #F00;
    padding: 10px;
    width: 364.844px;
    height: 364.844px;
}

.sit {
    color: #F00;

    font-size: 48px;

    font-weight: 700;



}

.amet {
    color: rgba(7, 2, 17, 0.60);

    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    width: 276px;
}

.maincome {
    display: flex;
    justify-content: space-evenly;
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 120px;


}

.is {
    color: #070211;

    font-size: 24px;

    font-weight: 500;

}

.holidays {
    color: #F00;

}

.consectetur {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;

    font-size: 20px;
    font-style: normal;
    font-weight: 500;

    height: 96px;
}

.function {
    text-align: center;
    margin-left: 140px;
    margin-right: 140px;

}




.gifts {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
}

.awesome {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    line-height: normal;
}

.aget {
    color: rgba(7, 2, 17, 0.60);

    font-size: 20px;

    font-weight: 400;
    line-height: 32px;
    width: 896px;
    height: 64px;

}

.ipsum {
    margin-left: 140px;
}

.album {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 140px;
    gap: 24px;
    margin-right: 140px;
}

.last {
    width: 1320px;


    height: 616px;
    padding-top: 80px;
    text-align: center;


}

.sed {

    height: 64px;
    padding-left: 212px;
    padding-right: 212px;
}


input {
    position: relative;

    font-size: 18px;

}

.user {
    background: #FFF;
    width: 648px;
    height: 72px;
    border: none;
    border-radius: 25 px;
    outline: none;
}


.subscribe {

    width: 210px;
    height: 72px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    ;
    color: #FFF;
    border: none;
    ;
}

.sectional {
    background: rgba(255, 0, 0, 0.05);
    margin-top: 120px;
    margin-left: 140px;
    margin-right: 140px;
}



/* footer related style */



.final {
    width: 1600px;
    height: 609px;
    background-color: #070211;
    ;
}

.big {
    color: #FFF;
    height: 80px;
    font-size: 24px;
    width: 375px;
    font-weight: 500;
    margin-top: 120px;
}

.Call {
    color: #FFF;

    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    padding-right: 275px;
    margin-top: 120px;
}

.footer-column {
    display: flex;
    justify-content: space-evenly;
    padding-left: 140px;

}

.social {
    text-align: center;
    margin-top: 98px;
}

.allrights {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    margin-left: 140px;
    margin-right: 140px;
}

.final {
    margin-top: 120px;
}